@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --bg-color: #00704a;
  --card-bg: #efefef;
  // --bg-coffee-green: #00704a;
}

.poppins {
  font-family: Poppins, "sans-serif";
}

/* Sidebar */
.sidebar {
  position: relative;
  z-index: 1;
  background-color: var(--bg-color);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.25rem;
  padding-top: 0.5rem;

  .profile-img {
    margin-top: 2rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-left: 1.3rem;
    gap: 10px;
  }

  .link {
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    padding: 9px 10px 9px 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.3s ease;
    cursor: pointer;

    p {
      cursor: pointer;
    }
  }

  .link.active {
    width: 100%;
    background-color: white;
    color: var(--bg-color);
    font-weight: 600;
    padding-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  // .link:hover {
  //   background-color: #fff;
  //   color: var(--bg-color);
  //   font-weight: 600;
  //   padding-left: 25px;
  // }

  .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 0px;
    gap: 4px;
    border-radius: 10px;
    font-family: Poppins, "sans-serif";
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    color: rgba(255, 166, 0, 0.713);

    &:hover {
      background-color: rgba(255, 166, 0, 0.713);
      color: white !important;
      font-weight: 600;
      padding-left: 5px;
    }

    p {
      cursor: pointer;
    }
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  padding: 2rem 0.6rem 0rem 0.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  position: relative;
}

header {
  padding: 1rem 1rem 0 2rem;
}

.header-title {
  font-family: Poppins, "sans-serif";
  font-size: 2.3rem;
  font-weight: 600;
}

// Account
.menu a {
  padding: 3rem 1.5rem;
}

/* Table header */
/* Styling the table headers */
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  font-family: Poppins, "sans-serif";
  font-weight: 300;
  background-color: var(--bg-color);
  color: white;
  padding: 10px;
  position: relative;
  text-align: center;
}

table tr {
  border-bottom: 1px solid rgb(209, 206, 206);
}

table td {
  font-family: Poppins, "sans-serif";
  font-size: 0.8rem;
  padding: 15px;
  text-align: center;
  position: relative;
}

table th::after,
table td::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #cbc8c8be;
}

/* Remove the border from the last cell and header in each row */
table th:last-child::after,
table td:last-child::after {
  display: none;
}

/* Add rounded corners to the first and last header */
table th:first-child {
  border-top-left-radius: 15px;
}

table th:last-child {
  border-top-right-radius: 15px;
}

.hudJpJ {
  background-color: var(--bg-color) !important;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold !important;
  font-size: 0.9rem !important;
}

//Order

.order {
  background-color: var(--card-bg);
  display: flex;
  align-items: center;
  padding: 10px 25px 10px 30px;
  transition: .2s ease-in-out;

  h1 {
    cursor: pointer;
  }

  span {
    cursor: pointer;
  }

  h3 {
    cursor: pointer;
  }
}

.order-details {
  font-family: Poppins, "sans-serif";
  display: flex;
  position: relative;
  margin-top: 1.5rem;
  background-color: var(--card-bg);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;

  .order-details__left {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 10px;
    width: 50%;
  }

  .order-details__right {
    display: flex;
    padding: 0px 0px 0px 40px;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }

  .order-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .actions {
    align-items: center;
    gap: 20px;

    .button-accept {
      color: white;
      border-radius: 10px;
      background-color: var(--bg-color);
      font-weight: 500;
    }

    .button-cancel {
      font-weight: 500;
      border: 1px solid rgb(168, 166, 166);
      border-radius: 10px;
    }
  }

  .order-time {
    button {
      transition: 0.3s ease;
    }
    button:hover {
      background-color: rgb(227, 176, 80);
    }
  }
}

.button {
  cursor: pointer;
}

@media (min-width: 1024) {
  .wrapper {
    padding: 2rem 3rem 6rem 3rem;
  }
}
